/* =============================================================================
    CSS Animations & Transitions demo // Gainesville Front End Developer Meetup
    Live Demo Presented by Mike Herchel 2/20/2014
    http://www.meetup.com/Gainesville-Front-End-Dev-Meetup/events/161112672/
    https://github.com/mherchel/css-animation-transition-demo
   ========================================================================== */

@import 'compass/css3';

// Some general styling so demo doesn't look like shit

* {
  @include box-sizing(border-box);
}

body {
  background: beige;
  font-family: "arial narrow", helvetica;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

div {
  height: 200px;
  width: 200px;
  @include border-radius(5px);
  border: solid 2px #333;
  padding: 10px;
  color: white;
  margin: 1em;
}

// Basic CSS Transitions to mess with

.css-transition-1 {
  background-color: red;
  &:hover {
    background-color: blue;
  }
}

.css-transition-2 {
  margin-top: 1500px;
  background-color: green;
  &:hover {
    background-color: orange;
  }
  &.js-scroll-down {
    // insert something cool
  }
}

// Some animation elements

.css-animation-1 {
  display: none;
  background-color: green;
  animation: basic 2s infinite;
  -webkit-animation: basic 2s infinite;
}

@keyframes basic {
  0%    {background: green;}
  50%   {background: yellow;}
  100%  {background: green;}
}

@-webkit-keyframes basic {
  0%    {background: green;}
  50%   {background: yellow;}
  100%  {background: green;}
}